name: build and publish pipeline

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    name: external workflow
    uses: tehw0lf/workflows/.github/workflows/build-test-publish.yml@main
    permissions:
      actions: write
      contents: write
      packages: write
    with:
      tool: "npm"
      build_branch: "run build"
      build_main: "run build"
      event_name: ${{ github.event_name }}
      libraries: "yaft"
      artifact_path: "dist"
      library_path: "dist"
    secrets:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
